html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #181717e0;

  & a {
    text-decoration: none;
    color: inherit;
  }
}
body {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}
/* --------COR/TAMANHO------  */
p {
  text-align: left;
}

/* --------Section------  */

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background-color: #f6f6f6;

  & h1 {
    font-size: 2.2rem;
  }
}
.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: #eeeeee;
}
/* --------Container------  */

.container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.205);
  padding: 5rem 10rem 3rem 10rem;
  border-radius: 2rem;
  background-color: #f6f6f6;

  & .texto {
    background-color: #f6f6f6;
    padding: 0 0.5rem;
    position: absolute;
    top: -33px;
    left: 20px;
  }
}
/* --------Navegação------  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f6f6f6;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
  z-index: 9999;

  & .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .navbar {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.6rem;
  }
  & .button-nav {
    display: flex;
    padding: 0.8rem;
    border-radius: 0.8rem;
    margin-right: 1rem;
    background-color: #eeeeee;
    border: 2px solid lightgray;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);
    & a {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.774);
      text-decoration: none;
      font-size: 1.8rem;
    }
  }
}

/* --------MainPage------  */

.mainpage {
  background-image: url(/imagens/mainpage.jpg);
  height: 100vh;

  & .mainpage-content {
    padding-top: 20rem;

    & h1 {
      font-size: 3rem;
      background-color: #eeeeee;

      width: 47rem;
      margin-left: 1rem;
      padding: 1rem;
    }

    & p {
      font-size: 2.6rem;
      width: 41rem;
      background-color: #eeeeee;
      margin-left: 1rem;
      padding: 1rem;
      font-weight: bold;
    }
  }
}
/* --------MainPage2------  */

.mainpage2 {
  display: flex;

  & .containerMainpage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & h1 {
    font-size: 3rem;
    margin-left: 2rem;
    padding-left: 0.5rem;
    border-left: 10px solid #b1b2b5;
    border-radius: 0.5rem;
  }

  & p {
    font-size: 2.6rem;
    margin-top: 0;
    margin-left: 4rem;
    width: calc(100vw / 2.3);
    font-weight: 500;
  }
}

.imgMainpage2 {
  max-width: 700px;
  border-radius: 2rem;
}

/* --------Footer------  */

.footer {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: black;

  & p {
    color: white;
    padding: 2rem 2rem 0 2rem;
    margin: 0;
  }
}

/* --------SignIn------  */
.signIn {
  display: flex;

  & .left {
    & h1 {
      width: calc(100vw / 2.5);
      font-size: 3.5rem;
      padding-left: 2rem;
    }
  }
  .right {
    & .container {
      & form {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        & .inputbox {
          position: relative;
        }

        & input {
          width: 350px;
          height: 30px;
          padding: 0.2rem 1rem;
          font-size: 1.6rem;
          background-color: #eeeeee;
          border: none;
          outline: none;
          box-shadow: 0px 0px 20px -18px;
        }

        & .labelinput {
          position: absolute;
          top: 7px;
          left: 3px;
          font-size: 1.8rem;
          pointer-events: none;
          transition: 0.5s;
        }

        & .inputUser:focus ~ .labelinput,
        .inputUser:valid ~ .labelinput {
          top: -20px;
        }

        & .textlogin {
          display: flex;
          align-items: center;
          flex-direction: column;

          & a {
            font-weight: 600;
            color: inherit;
          }

          & .errorSenha {
            color: red;
            font-size: 1.6rem;
            font-weight: 600;
          }
          & .errorEmail {
            color: red;
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
      }

      & .buttonForm {
        display: flex;
        justify-content: center;
        align-items: center;

        & .buttonSubmit {
          width: 60%;
          padding: 1rem 5rem 3rem 5rem;
          border-radius: 1rem;
          background-color: #eeeeee;
          border: 2px solid lightgray;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
/* --------Login------ */

.textlogin {
  & .errorWrongInput {
    color: red;
  }
}
.login {
  padding: 4rem;
}

/* --------HomePage/Profile------  */
.button-exit {
  padding: 0.7rem 1.8rem;
  border-radius: 0.8rem;
  margin-right: 1rem;
  background-color: rgb(255, 33, 33);
  border: 2px solid rgb(236, 27, 27);

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);

  & a {
    color: #f6f6f6;
    text-decoration: none;
    font-size: 1.8rem;
  }
}

.homeImg {
  display: flex;
  padding-top: 2rem;
  justify-content: center;

  & img {
    width: 400px;
    border-radius: 3rem;
  }
}
.home {
  display: flex;

  & .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    background-color: #eeeeee;

    & h1 {
      width: calc(100vw / 2.5);
      font-size: 3.5rem;
      padding-left: 2rem;
    }
  }

  & .containerInput {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding: 2rem 5rem;
    border-radius: 2rem;

    & .profile {
      background-color: #f6f6f6;
      padding: 0 0.5rem;
      position: absolute;
      top: -32px;
      left: 20px;
    }

    & form {
      gap: 1rem;
    }
    & .inputHome {
      font-size: 1.8rem;
    }

    & .profileData {
      display: flex;
      flex-direction: column;

      & h1 {
        margin-bottom: 1rem;
      }

      & p {
        margin: 0;
        padding: 0.5rem;
        background-color: #eeeeee;
      }
    }

    & .profileSaldo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      & h1 {
        padding: 0.5rem;
        background-color: #eeeeee;
      }
    }
    & .buttons {
      display: flex;
      gap: 5rem;
      justify-content: center;

      & h1 {
        font-size: 1.6rem;
        padding: 1rem;
        background-color: #eeeeee;
        border-radius: 0.8rem;
        border: 2px solid lightgray;
        cursor: pointer;
      }
    }
  }

  .inputbox {
    & input {
      width: 100%;
    }
  }
  .inputHome {
    width: 350px;
    background-color: #eeeeee;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
  }
  .buttonProfile {
    display: flex;
    align-items: center;

    & .buttonSubmitProfile {
      font-size: 1.6rem;
      width: 100%;
      margin-right: 0;
      padding: 1rem 2rem 1rem 2rem;
      border-radius: 1rem;
      background-color: #eeeeee;
      border: 2px solid lightgray;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

/* --------Home Adm------  */

.sectionTitulo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 26vh;
  background-color: #eeeeee;

  & h1 {
    font-size: 3rem;
    margin-top: 0;
  }
}

.titleAdm {
  & h1 {
    margin-top: 10rem;
    padding: 0.5rem;
    font-size: 3.3rem;

    border-left: 10px solid #b1b2b5;
    border-radius: 0.5rem;
  }
}

.mainpageAdm {
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}
.textAdm {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  & h1 {
    padding: 1rem;
    margin: 5rem 0 1rem 5rem;
    background-color: #b1b2b5;
  }

  & p {
    font-size: 2.8rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-left: 7rem;

    border-left: 10px solid #b1b2b5;
    border-radius: 0.5rem;
  }
}

.containerGrafico {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  margin-bottom: 10rem;

  & .tituloGrafico {
    font-size: 2.6rem;
    position: absolute;
    top: -70px;
    left: 30px;
    background-color: #eeeeee;
  }

  & .grafico {
    border: 1px solid black;
    background-color: white;
    position: relative;
  }

  & img {
    width: calc(100vw / 3);
    height: auto;
  }

  & .legendaGrafico {
    display: flex;
    align-items: left;
    margin-left: 2rem;

    & .legenda {
      font-weight: 600;
      padding-right: 1rem;
    }

    & .textolegenda {
      width: calc(100vw / 2);
    }
  }
}

/* --------MediaQuery------  */

/* --------Smartphones------  */

@media (max-width: 750px) {
  /* --------Nav------  */
  .header {
    & .navbar {
      gap: 0.3rem;
    }
    & .button-nav {
      padding: 0.5rem;
    }
  }
  .nav {
    & p {
      margin: 1rem;
    }
  }

  /* --------Mainpage------  */

  .mainpage {
    background-position: center;
    & .mainpage-content {
      padding-top: 10rem;
      & h1 {
        width: 32rem;
      }
      & p {
        width: 28rem;
      }
    }
  }
  .mainpage2 {
    & .left {
      width: 100vw;
      background-image: url(/imagens/mainpage2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 1rem;

      & .containerMainpage2 {
        display: flex;
        flex-flow: column;

        border: 1px solid rgba(0, 0, 0, 0.205);
        background-color: #f6f6f6ec;
        padding: 1rem 1.5rem;
        margin: 1rem;
        border-radius: 2rem;

        & .textMainpage2 {
          border-radius: 0.5rem;
        }
        & h1 {
          margin: 0;
        }
      }
      & p {
        width: 96%;
        font-size: 2rem;
        padding-top: 1rem;
        margin: 1rem 0.2rem 1rem 1rem;
      }
    }
    & .right {
      display: none;
      & .imgMainpage2 {
        display: none;
      }
    }
  }
  .footer {
    padding-bottom: 2rem;
  }
  /* --------Signin------  */

  .signIn {
    & .left {
      display: none;
    }
    & .right {
      width: 100vw;
      margin-top: 5rem;
      height: 93vh;
      background-image: url(/imagens/login.jpg);
      background-position: center;

      & .container {
        padding: 3rem 2rem 1.5rem 2rem;
        background-color: #f6f6f6;

        & .texto {
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          background-color: #f6f6f6;
          border-top: 1px solid rgba(0, 0, 0, 0.205);
        }

        & form {
          padding-top: 2rem;
          gap: 2.6rem;

          & input {
            width: 75vw;
          }

          & .inputUser:focus ~ .signIn,
          .inputUser:valid ~ .signIn {
            padding-top: 5rem;
          }
        }
      }
    }

    /* --------Home------  */
    .home {
      & .left {
        display: none;
      }
      & .right {
        width: 100vw;
        height: 91.5vh;
        padding-top: 8rem;
        background-image: url(/imagens/Home.jpg);
        background-position: center;

        & .containerInput {
          background-color: #f6f6f6;
          padding: 3rem 2rem 1rem 2rem;

          & .profile {
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            border-top: 1px solid rgba(0, 0, 0, 0.205);
          }

          & .profileData {
            & input {
              width: 280px;
            }
            & p {
              width: 290px;
            }
          }
        }
      }
    }
    & .inputHome {
      font-size: 1.8rem;
    }
    /* --------Profile------  */
    .home {
      .inputbox {
        & .inputHome {
          width: 280px;
        }
      }
    }
  }

  /* --------Home Adm------  */
  .sectionTitulo {
    & h1 {
      font-size: 2.3rem;
    }
  }
  .textAdm {
    & h1 {
      font-size: 2.2rem;
      margin-left: 1rem;
    }
    & p {
      font-size: 2rem;
      margin-left: 1.5rem;
    }
  }
  .containerGrafico {
    flex-direction: column;
    margin-bottom: 7rem;

    & .tituloGrafico {
      font-size: 1.9rem;
      top: -50px;
      left: 10px;
    }

    & .grafico {
      width: 350px;
    }
    & img {
      min-width: 340px;
    }

    & .legendaGrafico {
      flex-flow: column;
      margin-left: 0;

      & .legenda {
        font-size: 1.8rem;
        margin: 1rem 1rem;
      }

      & .textolegenda {
        margin: 0.5rem 1rem;
        width: 340px;
      }
    }
  }
}
